body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #5e5e5e;
  line-height: 24px; }

.inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto; }

a:hover {
  color: #428bca; }

.a-top {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px; }

.header-menu {
  background-color: #f5fbf1;
  height: 45px;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 42px; }
  .header-menu a {
    margin-left: 25px; }
  .header-menu .date {
    font-size: 12px; }

.header-menu-page {
  background-color: #f5fbf1;
  text-align: right;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .header-menu-page a {
    margin-left: 25px;
    line-height: 42px; }
  .header-menu-page .logo a {
    margin-left: 0px;
    float: left; }
  .header-menu-page .page-form {
    margin-left: 126px; }
  .header-menu-page .main-form {
    margin-top: 7px; }
  .header-menu-page .menu-small {
    float: right;
    margin-top: 15px;
    font-size: 14px; }

.page-form {
  margin-top: 15px;
  margin-bottom: 10px; }
  .page-form input {
    margin-right: 100px;
    font-size: 16px; }
  .page-form .main-search input {
    height: auto;
    font-size: 16px; }
  .page-form .main-search {
    margin-right: 100px !important; }
  .page-form .main-but {
    text-align: right;
    width: 100px;
    float: right; }
    .page-form .main-but .btn {
      height: auto;
      background-color: #00ba44;
      color: #fff;
      font-size: 16px; }

.header {
  background-color: #e9eff3;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  clear: both; }

.header-page {
  background-color: #e9eff3;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }

.logo {
  float: left;
  display: block; }

.container-fluid {
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px; }

.header .main-search {
  margin-right: 115px !important; }

.main-search {
  margin-right: 115px; }
  .main-search input {
    height: 45px;
    font-size: 20px; }
  .main-search .btn {
    height: 45px;
    font-size: 20px; }

.header-menu-page .main-search .btn {
  height: 36px !important;
  font-size: 16px; }

.main-form {
  margin-top: 0px; }

.main-but {
  text-align: right;
  width: 115px;
  float: right; }
  .main-but .btn {
    height: 45px;
    background-color: #00ba44;
    color: #fff;
    font-size: 20px; }

.exp {
  color: #969696;
  line-height: 10px; }

.header h1 {
  color: #00ba44;
  margin-bottom: 30px !important;
  padding-bottom: 0px; }

h1 {
  color: #00ba44;
  font-size: 46px;
  font-weight: normal;
  margin: 0px;
  line-height: 35px;
  padding: 0px; }

h1, h2 {
  color: #4e4e4e;
  font-weight: normal;
  margin: 0px !important;
  padding-bottom: 60px; }

h2 {
  font-size: 30px;
  text-align: center; }

h1 {
  font-size: 36px;
  text-align: left; }

h3 {
  font-size: 18px;
  margin: 0px;
  width: auto; }

h4 {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 0px; }

.liner-grey {
  height: 1px;
  background-color: #e9eff3;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  float: none;
  clear: both; }

.liner-invisible {
  height: 1px;
  background-color: transparent;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  float: none;
  clear: both; }

.row-ctlg {
  padding-bottom: 60px; }

.liner-town {
  height: 1px;
  background-color: #d3d3d3;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 7px; }

sup {
  top: -10px; }

.badge {
  padding: 4px 4px;
  font-size: 12px;
  color: #00ba44;
  border-radius: 12px;
  font-weight: normal;
  cursor: default;
  border: none; }

.badge {
  background-color: #e9eff3; }

.badge-white {
  background-color: #fff !important; }

.font18 {
  font-size: 18px; }

.font12 {
  font-size: 12px; }

.back-grey {
  background-color: #e9eff3;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px; }

p {
  padding-top: 30px; }

.liner-all {
  background-color: #d3d3d3;
  height: 1px;
  width: 100%; }

.footer {
  width: 100%; }
  .footer img {
    margin-bottom: 10px; }

.back-green {
  background-color: #f5fbf1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px; }

.back-white {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px; }

.back-white-page {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px; }

.copy {
  color: #969696;
  font-size: 12px; }

.reiting {
  float: right;
  width: 80px;
  text-align: right; }

.namer {
  float: left;
  margin-right: -90px;
  width: 100%;
  margin-bottom: 10px; }

.in-namer {
  margin-right: 90px; }

.namer-adres {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px; }

.logo-service .col-xs-12, .logo-service .col-sm-4 {
  text-align: center;
  margin-right: -1px; }
.logo-service .logo-right {
  border-right: 1px solid #e9eff3;
  float: left;
  width: 1px;
  height: 60px; }

.logo-bottom {
  height: 1px;
  background-color: #e9eff3;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
  float: none;
  clear: both; }

.header-menu-page .form-inner {
  margin-left: -96px;
  float: left;
  width: 100%; }

.header .form-inner {
  margin-left: -47px;
  float: left;
  width: 100%; }
.header .index-form {
  margin-left: 77px; }

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px;
    margin-left: 5px;
    height: 40px; }

  .visible-500 {
    visibility: hidden;
    display: none; }

  .header .main-search {
    margin-right: 0px !important; }

  .header-menu-page .main-search {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px !important; }

  .col-xs-2 {
    width: 33.3333%; }

  .col-xs-10 {
    width: 66.6664%; }

  .form-inner {
    margin-right: -50px;
    float: left;
    width: 100%; }

  .page-form {
    margin-right: 50px; }
    .page-form .main-search {
      margin-right: 0px !important; }

  .menu-small {
    width: 46px; }
    .menu-small .fa {
      font-size: 24px;
      color: #4e4e4e; }
    .menu-small .btn {
      padding: 4px 7px; }

  .menu-small-index {
    width: 47px;
    height: 47px; }
    .menu-small-index .fa {
      font-size: 24px;
      color: #4e4e4e; }
    .menu-small-index .btn {
      padding: 8px 9px; }

  .header .form-inner {
    margin-right: -47px; }
  .header .index-form {
    margin-right: 77px; }

  .header .form-inner {
    width: 100%; }

  .index-form {
    margin-left: 77px !important; }

  .header .form-inner {
    margin-left: -47px; }

  .menu-small-index {
    width: 47px;
    float: right;
    margin-top: 70px; } }
@media (min-width: 769px) {
  .header-menu-page .form-inner {
    margin-right: -250px;
    float: left;
    width: 100%; }

  .page-form {
    margin-right: 150px; }

  .menu-small {
    width: auto; }

  .visible-500 {
    visibility: visible; }

  .hidden-500 {
    display: none; } }
.breadcrumb {
  background-color: #fff;
  padding-left: 0px;
  font-size: 12px;
  margin-bottom: 10px; }
  .breadcrumb li + li:before {
    content: none;
    padding: 0 5px; }
  .breadcrumb span {
    color: #999; }

@media (min-width: 769px) {
  .col-page-rt {
    margin-right: -190px;
    width: 100%;
    float: left; }

  .col-page-rt-inner {
    margin-right: 190px; }

  .a-right {
    width: 160px;
    float: right;
    margin-bottom: 60px; } }
@media (max-width: 769px) {
  .a-right {
    display: none; } }
.icon-page img {
  margin-right: 10px;
  float: left; }
.icon-page a:hover img {
  text-decoration: none !important; }
.icon-page .fa {
  font-size: 20px;
  color: #5e5e5e; }

.pager {
  text-align: center;
  font-size: 16px; }
  .pager .active a {
    background-color: #f5fbf1; }

.pager li > a:hover, .pager li > a:focus {
  background-color: #f5fbf1; }

.red {
  color: #ff0000; }

.black {
  color: #000; }

.form-horizontal .control-label {
  font-weight: normal;
  text-align: left; }

.text-pdg {
  margin-bottom: 60px; }

.fa {
  margin-left: 3px;
  margin-right: 3px; }

.sort {
  margin-bottom: 30px; }
  .sort .form-control {
    float: left;
    margin-top: -5px; }
  .sort label {
    float: left;
    font-weight: normal;
    margin-right: 10px; }
  .sort .col-xs-6, .sort .col-xs-12 {
    padding-bottom: 30px; }

.dropdown-menu > li > a {
  font-size: 14px;
  color: #428bca; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #428bca;
  text-decoration: underline;
  background-color: transparent; }

.header-menu-page .dropdown-menu {
  top: 40px; }

.header-menu-page .index-form {
  margin-left: 126px; }

.header .dropdown-menu {
  top: 49px;
  text-align: right; }

.sort .form-control {
  float: left;
  width: 100%; }

.sort-filtr {
  margin-bottom: 10px; }

.circle-name {
  border-radius: 20px 20px 20px 20px;
  padding: 0px;
  background-color: #00ba44;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  padding-top: 3px;
  float: left;
  margin-right: 7px;
  margin-top: 5px; }

.social {
  font-size: 24px; }
  .social .fa {
    float: left;
    margin-left: 7px; }

.review {
  margin-top: 10px;
  font-size: 12px; }
  .review .btn {
    margin-right: 7px; }

.has-error sup {
  color: #a94442;
  line-height: 36px; }

.user .col-sm-4 {
  margin-bottom: 30px; }
.user .fa {
  font-size: 30px; }
.user a {
  font-size: 16px; }

.glyphicon-chevron-up {
  color: #00ba44 !important;
  font-size: 12px; }

.glyphicon-chevron-down {
  color: #a94442 !important;
  font-size: 12px; }

.reiting_10 {
  position: relative;
  width: 51px;
  height: 12px;
  top: 0px;
  background-image: url(../images/ico_reiting.gif);
  background-position: top;
  margin-bottom: 8px; }

.reiting_9 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -12px;
  margin-bottom: 8px; }

.reiting_8 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -24px;
  margin-bottom: 8px; }

.reiting_7 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -36px;
  margin-bottom: 8px; }

.reiting_6 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -48px;
  margin-bottom: 8px; }

.reiting_5 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -60px;
  margin-bottom: 8px; }

.reiting_4 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -72px;
  margin-bottom: 8px; }

.reiting_3 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -84px;
  margin-bottom: 8px; }

.reiting_2 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -96px;
  margin-bottom: 8px; }

.reiting_1 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -108px;
  margin-bottom: 8px; }

.reiting_0 {
  position: relative;
  width: 51px;
  height: 12px;
  background-image: url(../images/ico_reiting.gif);
  background-position: 0px -120px;
  margin-bottom: 8px; }

[data|=a-right] .col-page-rt {
  margin-right: 0px !important; }
[data|=a-right] .col-page-rt-inner {
  margin-right: 0px !important; }
[data|=a-right] .a-right {
  visibility: hidden !important;
  display: none !important; }

.success {
  background-color: #f5fbf1;
  margin-top: -15px;
  padding-top: 15px;
  margin-bottom: -15px;
  padding-bottom: 15px; }

.danger {
  background-color: #f2dede;
  margin-top: -15px;
  padding-top: 15px;
  margin-bottom: -15px;
  padding-bottom: 15px; }

.category-sc .form-group {
  padding-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px; }
  .category-sc .form-group .col-sm-2 {
    padding-left: 5px; }
  .category-sc .form-group .col-sm-10 {
    padding-right: 5px;
    padding-left: 5px; }
  .category-sc .form-group .col-sm-offset-2 .col-sm-9 {
    padding-right: 5px; }
.category-sc .row {
  margin-bottom: 15px;
  margin-top: 30px; }
.category-sc input[type="checkbox"] {
  margin-right: 5px; }
.category-sc .grey-cell .form-group:nth-child(odd) {
  background-color: #e9eff3; }
.category-sc .row b {
  font-size: 18px; }

.record2selected {
  background-color: #cce3ff !important; }

.autriz-name {
  width: 140px;
  float: left;
  padding-left: 5px;
  margin-top: 10px; }

.autriz-text {
  margin-left: -140px;
  float: left;
  padding-right: 5px;
  width: 100%;
  margin-top: 5px; }

.autriz-inner {
  margin-left: 140px; }
