!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Главная
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu.hidden-xs
        .inner
          .row
            .col-sm-6.date
              20 мая 2017 понедельник 20:17
            .col-xs-12.col-sm-6.text-right
      
              %a{:href => ""}
                Вход
              %a{:href => ""}
                Регистрация
      .liner-all
      .header

        .inner.row
        
          .logo
            
            %a{:href => ""}
              %img{:src => "images/logo.png", "height" => "109"}
          .form-inner
            .index-form
              %h1
                Сервисные центры Украины
            
              %form.main-form{:role => "form"}
                .form-group.visible-500
                  
                  .main-but
                    %button.btn{:type => ""} найти
                  .main-search
                    %input.form-control{ :type => ""}/
                .exp.visible-500
                  Например: ремонт фотоаппарата
                .input-group.hidden-500.main-search
                  %input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.glyphicon.glyphicon-search
          .menu-small-index.visible-xs
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              
                %i.fa.fa-bars
              
           
              %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                %li
                  %a{:href => "#"} Вход
                %li
                  %a{:href => "#"} Регистрация


            
    .container
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Каталог сервисных центров
          
          .row
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Фототехника
                  %sup.badge
                    +2
              .liner-grey
              %a{:href => ""}
                Вспышки  
              %br
              %a{:href => ""}
                Карты памяти
              %br
              %a{:href => ""}
                Кинооборудование
              %br
              %a{:href => ""}
                Объективы
              %br
              %a{:href => ""}
                Цифровые фотоаппараты
              %a{:href => ""}   
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Авто
                  %sup.badge
                    +7
              .liner-grey
              %a{:href => ""}
                Автосервис  
              %br
              %a{:href => ""}
                Автомобильная электроника
            .clearfix.visible-sm
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg

              %a{:href => ""}
                %h3
                  Бытовая техника
                  %sup.badge
                    +1
              .liner-grey
              %a{:href => ""}
                Крупная бытовая техника  
              %br
              %a{:href => ""}
                Техника для кухни
              %br
              %a{:href => ""}
                Климатическая техника 
              %br
              %a{:href => ""}
                Встраиваемая техника
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Телефония и cвязь
                  %sup.badge
                    +3
              .liner-grey
              %a{:href => ""}
                КПК и коммуникаторы 
              %br
              %a{:href => ""}
                Мини-АТС
              %br
              %a{:href => ""}
                Мобильные телефоны 
              %br
              %a{:href => ""}
                Радиотелефоны
              %br
              %a{:href => ""}
                CDMA телефоны
            .clearfix.visible-sm
          .row
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Компьютерная техника
              .liner-grey
              %a{:href => ""}
                Мониторы  
              %br
              %a{:href => ""}
                Планшеты
              %br
              %a{:href => ""}
                Ноутбуки
              %br
              %a{:href => ""}
                Персональные компьютеры
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Аудиотехника
              .liner-grey
              %a{:href => ""}
                Акустические системы  
              %br
              %a{:href => ""}
                Домашние кинотеатры
              %br
              %a{:href => ""}
                Магнитолы
              %br
              %a{:href => ""}
                Микрофоны
              %br
              %a{:href => ""}
                Музыкальные центры 
            .clearfix.visible-sm
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Видеотехника
              .liner-grey
              %a{:href => ""}
                DVD/Blu-ray плееры   
              %br
              %a{:href => ""}
                Видеокамеры
              %br
              %a{:href => ""}
                Видеоплееры
              %br
              %a{:href => ""}
                Проекционное оборудование
              %br
              %a{:href => ""}
                Телевизоры  
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Инструменты
              .liner-grey
              %a{:href => ""}
                Бензотехника 
              %br
              %a{:href => ""}
                Пневмотехника, пневмоинструмент 
              %br
              %a{:href => ""}
                Электротехника, электроинструмент  
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Сервисные центры по городам
          .row
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
              %sup.badge.badge-white
                +8
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
                %sup.badge.badge-white
                  +6
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
                %sup.badge.badge-white
                  +8
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
    .container
      .liner-all
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Рейтинг сервисных центров
              
          .row
            .col-xs-12.col-sm-6.row-ctlg
              
              %h4 
                Топ сервисных центров
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .clearfix  
              %a{:href => ""}
                Полный Рейтинг сервисных центров

              
            .col-xs-12.col-sm-6.row-ctlg
              
              %h4 
                Развивающиеся сервисные центры
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              .clearfix
              %br
              %h4
                Прочие сeрвисные центры
              .logo-service
                .row
                  .col-xs-12.col-sm-4
                    %img{:src => "images/HP.gif"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  
                  .logo-bottom
                  .col-xs-12.col-sm-4
                    %img{:src => "images/HP.gif"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
            
              
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Сервисные центры - последние отзывы посетителей
          .row
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Солярис» (г.Харьков)
              %p
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Солярис» (г.Харьков)
              %p
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
          .row
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Компьютерная помощь» (г.Киев)
              %p
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Компьютерная помощь» (г.Киев)
              %p
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
