!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Рейтинг сервисных центров
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          
          .row
            .col-xs-12
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %i.fa.fa-caret-right
                %li
                  %a{:href => "#"}
                    Киевская область 
                  %i.fa.fa-caret-right
                %li
                  %a{:href => "#"}
                    Киев
                  %i.fa.fa-caret-right
                %li.active Samsung
              %h2
                Список сервисных центров
              
          .col-page-rt
            .col-page-rt-inner

              %b
                14.02.2011 
              %br

              Рейтинг сервисных центров
              %br
              %br
              Уважаемые пользователи проекта.
              %br
              %br
              %i
                Каталог "Сервисные центры Украины" 
              %u
                опубликовал 
              показатели независимого рейтинга сервисных центров.
              %br
              %br
              .red
                Результаты можно увидеть здесь: ТОП 30. 
              %br
              %br
              .black
                Если Вы не находите себя в этом списке,- не расстраивайтесь. Качественная работа и забота о своих клиентах - это самый важный показатель любой организации.
              %br
              %br
              Мы будем признательны всем посетителям, представителям сервисных центров, производителям за 
              %a{:href => "#"}
                высказанное мнение 
              о полученных нами результатах. Правила составления 
              %a{:href => "#"}
                рейтинга сервисных центров.
              %br
              %br
              %ul
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
              %ol
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
                %li
                  Хорошего Вам дня.
              %br
              %br
              %table.table.tabl-condensed
                %tr
                  %td
                    1
                  %td
                    2
                  %td
                    3
                %tr
                  %td
                    Сервис
                  %td
                    Сервис
                  %td
                    Сервис
                %tr
                  %td
                    Сервис
                  %td
                    Сервис
                  %td
                    Сервис
                %tr
                  %td
                    Сервис
                  %td
                    Сервис
                  %td
                    Сервис
              %br
              %br
          .a-right
            %img{:src => "images/banner600.jpg"}

            
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
