!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Главная
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/

  %body
    .container
      
      .ban-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-2
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            .col-xs-7
              
              %form.page-form{:role => "form"}
                .form-group.visible-500
                  
                  .main-but
                    %button.btn{:type => ""} найти
                  .main-search
                    %input.form-control{ :type => ""}/
                .input-group.hidden-500.main-search
                  %input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.glyphicon.glyphicon-search
            .col-xs-3
      
              %a{:href => ""}
                Вход
              %a{:href => ""}
                Регистрация
      .liner-all
      .header-page

        .inner
          .navbar{:role => "navigation"}
            .container
              .navbar-header
                %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
               
              .collapse.navbar-collapse
                %ul.nav.navbar-nav
                  %li.active
                    %a{:href => "#"} Фототехника
                  %li
                    %a{:href => "#about"} Авто
                  %li
                    %a{:href => "#contact"} Бытовая техника
                  %li
                    %a{:href => "#contact"} Телефония
                  %li
                    %a{:href => "#contact"} Компьютеры 
                  %li
                    %a{:href => "#contact"} Копировальная
                  %li
                    %a{:href => "#contact"}
                      Офисная техника   
              / /.nav-collapse

    .container
      .back-white  
        .inner
          
          .row
            .col-xs-12

              %h2
                Список сервисных центров
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %span.glyphicon.glyphicon-chevron-right
                %li
                  %a{:href => "#"} Компьютерная техника
                  %span.glyphicon.glyphicon-chevron-right
                %li.active Ноутбуки Acer
          .col-page-rt
            .col-page-rt-inner
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Александрия          
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Монолит»
                  %br
                  ул. 50-лет Октября 15
                  %br
                  +38 (05235) 7-02-17                      
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Алушта         
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «RSS»
                  %br
                  ул. Партизанская 9 (за Фуршетом)
                  %br
                  +7 (978) 056-54-06                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Веселое        
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Вольт»
                  %br
                  ул. Ленина 72
                  %br
                  +38 (06136) 2-17-67  
                  
                           
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                  
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Днепр         
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                .col-xs-12.col-sm-4
              .liner-invisible
              .row
                .col-xs-12.col-sm-4
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Единый Сервис Украина»
                  %br
                  ул. Коцюбинского, 1
                  %br
                  +38 (056) 721-92-36                   
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                
              .liner-invisible
              .row
                .col-xs-12.col-sm-4 
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .clearfix                
                
              
          .a-right
            %img{:src => "images/banner600.jpg"}

            
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
