!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Список сервисных центров
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          
          .row
            .col-xs-12
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %i.fa.fa-caret-right
                %li
                  %a{:href => "#"} Компьютерная техника
                  %i.fa.fa-caret-right
                %li.active Ноутбуки Acer
              %h2
                Список сервисных центров
              
          .col-page-rt
            .col-page-rt-inner
              .row.sort-filtr
                .col-xs-6
                  Фильтр:
                .col-xs-6.small.text-right
                  %a{:href => ""}
                    Скрыть фильтр
              .row.sort-filtr
                
                .col-xs-4
                  
                  
                  %select.form-control
                    %option Город
                    %option Алушта
                    %option Львов
                    %option Днепр
                    %option Харьков
                    %option Ивано-Франковск
                 
                .col-xs-4
                  
                  %select.form-control
                    %option Тип
                    %option Авторизированные
                    %option Неавторизированные
                .col-xs-4
                  %select.form-control
                    %option Выбрать
              .row
                .col-xs-12.text-right
                  %button.btn.btn-default
                    Применить
              .liner-grey.clearfix
              .row.sort
                .col-xs-12
                  Всего:220
              .row
                .col-xs-12.col-sm-2
                  %a.font12{:href => ""}
                    г. Александрия          
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Монолит»
                  %br
                  ул. 50-лет Октября 15
                  %br
                  +38 (05235) 7-02-17                      
                .col-xs-6.col-sm-3.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                  %a{:href => ""}
                    %img{:src => "images/ico_zakaz.gif"}
                .col-xs-6.col-sm-1.icon-page
                  %i.fa.fa-arrow-down
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a.font12{:href => ""}
                    г. Алушта      
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «RSS»
                  %br
                  ул. Партизанская 9 (за Фуршетом)
                  %br
                  +7 (978) 056-54-06                    
                .col-xs-6.col-sm-3.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                .col-xs-6.col-sm-1.icon-page
                  %i.fa.fa-arrow-up
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a.font12{:href => ""}
                    г. Веселое        
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Вольт»
                  %br
                  ул. Ленина 72
                  %br
                  +38 (06136) 2-17-67  
                  
                           
                .col-xs-6.col-sm-3.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                .col-xs-6.col-sm-1.icon-page
                  %i.fa.fa-arrow-up
                  
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a.font12{:href => ""}
                    г. Днепр         
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                .col-xs-12.col-sm-4
              .liner-invisible
              .row
                .col-xs-12.col-sm-2
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Единый Сервис Украина»
                  %br
                  ул. Коцюбинского, 1
                  %br
                  +38 (056) 721-92-36                   
                .col-xs-6.col-sm-3.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                .col-xs-6.col-sm-1.icon-page
                  %i.fa.fa-arrow-up
                
              .liner-invisible
              .row
                .col-xs-12.col-sm-2 
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a.font12{:href => ""}
                    г. Киев         
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Компьютерная помощь»
                  %br
                  %strong
                    м.Дворец Спорта
                  %br
                  (ул. Шота Руставели, 17) 
                  %br
                  %strong
                    м.Харьковская 
                  %br
                  ул. Ревуцкого, 38
                  %br
                  %strong
                    м.Шулявская
                  %br
                  ул. Александра Довженка,1В

                  +38 (044) 338 73 58                   
                .col-xs-12.col-sm-4.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                .col-xs-12.col-sm-4
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Крок-ТТЦ»
                  %br
                  ул. Радужная, 25Б
                  %br
                  0 (800) 504-504                  
                .col-xs-12.col-sm-4.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                .col-xs-12.col-sm-6
                  %a{:href => ""}
                    «Remzona»
                  %br
                  бу-р Шевченка 46-В; 
                  %br
                  ул. Р. Окипной 4а; 
                  %br
                  ул. Милославская 10а 
                  %br
                  +38 (044) 592-50-64                 
                .col-xs-12.col-sm-4.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                
              .liner-invisible
              .row
                .col-xs-12
                  %ul.pager
                    %li.disabled
                      %a{:href => "#"} 
                        &laquo;
                    %li.active
                      %a{:href => "#"}
                        1
                        
                    %li
                      %a{:href => "#"}
                        2
                    %li
                      %a{:href => "#"}
                        3
                    %li
                      %a{:href => "#"}
                        4
                    %li
                      %a{:href => "#"}
                        &raquo;

              .clearfix.liner-grey
              %p.row-ctlg.icon-page
                %img{:src => "images/icon_review.gif"}

                Отправить отзыв о сервисном центре
                %br
                %img{:src => "images/icon_no_cont.gif"}

                Пожаловаться на неправильные контактные данные.
                %br
                %img{:src => "images/icon_ask.gif"}

                Отправить запрос в сервисный центр
                %br
                %img{:src => "images/ico_zakaz.gif"}

                Проверить статус своего заказа
            
          .a-right
            %img{:src => "images/banner600.jpg"}
          

            
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
