!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Поддержка
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
            
                  %li.active Техническая поддержка сайта
                %h2
                  Поддержка online
                
                .row
                  .col-xs-12.col-sm-6
                    Задать вопрос нашим специалистам Вы сможете 
                    по телефонам 
                    %b
                      +38 (097) 22-133-22 
                    (Kyivstar) в 
                    %b
                      Пн-Пт: c 09:00 до 18:00
                    или отправив сообщение через нижеприведенную форму.
                    %br
                    %br
                    %b
                      Важно! 
                    Все вопросы связанные с ремонтом или поставкой комплектующих направляйте в сервисные центры через формы отправки заказов.
                    Вы находите на нашем сайте сервисный центр, куда и отправляете свой вопрос.
                    %br
                    %br
                    Отправляя вопрос через форму поддержки Вы пишите в редакцию каталога "Сервисные центры Украины".
                    %br
                    %br
                    %u
                      Редакция каталога 
                    "Сервисные центры Украины" 
                    %u
                      ремонтом и поставкой комплектующих не занимается.
                    Мы предоставляем выбор и доступ к сервисным центрам в Украине.
                
                  .col-xs-12.col-sm-6
                    %form.form-horizontal{:role => "form"}
                      .form-group.has-error
                        %label.col-sm-5.control-label{:for => "inputEmail3"} Обратный e-mail адрес *
                        .col-sm-7
                          %input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}/
                          %sup
                            неправильно введен e-mail адрес
                      .form-group
                        %label.col-sm-5.control-label Тема
                        .col-sm-7
                          %input#inputPassword3.form-control{:placeholder => "Тема"}/
                      .form-group
                        %label.col-sm-5.control-label Сообщение *
                        .col-sm-7
                          %textarea.form-control{:rows => "7"}

                      * - обязательные для заполнения поля
                      %br
                      %br
                      .form-group
                        .col-sm-offset-3.col-sm-9
                          %button.btn.btn-default{:type => "submit"} Отправить

         
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
