!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Поддержка
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Личный кабинет
                    %i.fa.fa-caret-right
            
                  %li.active Мои сервисные центры
                %h2
                  Мои сервисные центры
            .row
              .col-xs-12
                Всего:220
            .liner-grey.clearfix  
            .row
              .col-xs-6.col-sm-2.col-md-2
                %a{:href => ""}
                  «Компьютерная помощь» 
              .col-xs-6.col-sm-2.col-sm-push-8
                .btn-group.pull-right
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Действие
                    %span.caret
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Изменить
                    %li
                      %a{:href => "#"} Направления ремонта
                    %li
                      %a{:href => "#"} Удалить        
              
              .col-xs-12.col-sm-4.col-sm-pull-2

                м.Дворец Спорта
                %br
                (ул. Шота Руставели, 17)
                %br
                м.Харьковская 
                %br
                ул. Ревуцкого, 38
                %br
                м.Шулявская
                %br
                ул. Александра Довженка,1В
              .col-xs-12.col-sm-2.col-sm-pull-2  
                +38 (044) 338 73 58
              .col-xs-12.col-sm-2.col-sm-pull-2.icon-page
                Рейтинг: 60.124
                %span.glyphicon.glyphicon-chevron-down                    
              
            .liner-grey.clearfix
            .row.success
              .col-xs-6.col-sm-2.col-md-2
                %a{:href => ""}
                  «Компьютерная помощь» 
              .col-xs-6.col-sm-2.col-sm-push-8
                .btn-group.pull-right
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Действие
                    %span.caret
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Изменить
                    %li
                      %a{:href => "#"} Направления ремонта
                    %li
                      %a{:href => "#"} Удалить        
              
              .col-xs-12.col-sm-4.col-sm-pull-2

                м.Дворец Спорта
                %br
                (ул. Шота Руставели, 17)
                %br
                м.Харьковская 
                %br
                ул. Ревуцкого, 38
                %br
                м.Шулявская
                %br
                ул. Александра Довженка,1В
              .col-xs-12.col-sm-2.col-sm-pull-2  
                +38 (044) 338 73 58
              .col-xs-12.col-sm-2.col-sm-pull-2.icon-page
                Рейтинг: 60.124
                %span.glyphicon.glyphicon-chevron-up      
            .liner-grey.clearfix
            .row.danger
              .col-xs-6.col-sm-2.col-md-2
                %a{:href => ""}
                  «Компьютерная помощь» 
              .col-xs-6.col-sm-2.col-sm-push-8
                .btn-group.pull-right
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Действие
                    %span.caret
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Изменить
                    %li
                      %a{:href => "#"} Направления ремонта
                    %li
                      %a{:href => "#"} Удалить        
              
              .col-xs-12.col-sm-4.col-sm-pull-2

                м.Дворец Спорта
                %br
                (ул. Шота Руставели, 17)
                %br
                м.Харьковская 
                %br
                ул. Ревуцкого, 38
                %br
                м.Шулявская
                %br
                ул. Александра Довженка,1В
              .col-xs-12.col-sm-2.col-sm-pull-2  
                +38 (044) 338 73 58
              .col-xs-12.col-sm-2.col-sm-pull-2.icon-page
                Рейтинг: 60.124
                %span.glyphicon.glyphicon-chevron-up      
            .liner-grey.clearfix
            .row
              .col-xs-12.col-sm-2
                %a{:href => ""}
                  «Компьютерная помощь»         
              .col-xs-12.col-sm-4

                м.Дворец Спорта
                %br
                (ул. Шота Руставели, 17)
                %br
                м.Харьковская 
                %br
                ул. Ревуцкого, 38
                %br
                м.Шулявская
                %br
                ул. Александра Довженка,1В
              .col-xs-12.col-sm-2  
                +38 (044) 338 73 58
              .col-xs-6.col-sm-2.icon-page
                Рейтинг: 60.124
                %span.glyphicon.glyphicon-chevron-up                      
              .col-xs-6.col-sm-2
                .btn-group.pull-right
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Действие
                    %span.caret
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Изменить
                    %li
                      %a{:href => "#"} Направления ремонта
                    %li
                      %a{:href => "#"} Удалить
                
            .liner-grey.clearfix
            .row
              .col-xs-12
                %a{:href => ""}

                  Добавить информацию о сервисном центре
            .liner-grey.clearfix
            .row.row-ctlg
              .col-xs-12
                На данной странице Вам доступен следующий набор операций:

                %ul
                  %li
                    Добавление информации о сервисном центре;
                  %li
                    Изменение информации о сервисном центре;
                  %li
                    Удаление информации о сервисном центре.
                %br

                Каждая операция имеет свою кнопку (иконку).
                %br
                %br
                Кнопка "Добавить информацию" 
                %img{:src => "images/icon_add.gif"}
                позволяет внести данные о СЦ.
                %br
                %br
                Кнопка "Изменить информацию"
                %img{:src => "images/icon_edit.gif"}
                позволяет изменить ранее введенную информацию о СЦ.
                %br
                %br
                Кнопка “Удалить информацию”
                %img{:src => "images/icon_delete.gif"}
                позволяет убрать все данные о СЦ из каталога "Сервисные центры Украины".
                Стоимость повторной регистрации сервисного центра 1500 грн.
                %br
                %br
                Кнопка “Список обслуживаемой техники”
                %img{:src => "images/icon_category.gif"}
                позволяет вносить обслуживаемые категории, авторизации, а также торговые марки, по которым осуществляется платный ремонт.
                %br
                %br
                После добавления или изменения информации о сервисном центре, он находится на стадии модерации, о чем говорит фон зеленоватого оттенка. Модерация занимает несколько дней. Когда данные приняты - фон СЦ становится белым.
                %br
                %br
                Кликнув на ссылку "Название центра", Вы пройдете на постоянную страницу СЦ, если она уже создана. В таком виде Ваша страница будет показана всем посетителям нашего портала.

        
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
