!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Категории сервисных центров
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %textarea.form-control{:rows => "3"}
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg.category-sc
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Личный кабинет
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Мои сервисные центры
                    %i.fa.fa-caret-right
            
                  %li.active Категории сервисных центров
                %h2
                  Категории сервисных центров
            .row
              .col-xs-12
                Уважаемые представители сервисных центров, пожалуйста, внесите для обслуживаемых категорий техники 
                %i
                  только те торговые марки, 
                %u
                  ремонт которых Вы осуществляете.
            .liner-grey.clearfix
            .row
              .col-xs-12.col-sm-2
                Категории техники
              .col-xs-12.col-sm-10
                %u
                  Список обслуживаемых торговых марок    
                %small
                  (пример: Samsung, Philips, Asus, Toshiba)
            .liner-grey.clearfix
            %form.form-horizontal{:role => "form"}
              .row
                .col-sm-12
                  %b
                    Фототехника
              .grey-cell    
                .form-group.record2selected
                  .col-sm-2
                    %input{:type => "checkbox", :checked => "checked"} Вспышки 
                  .col-sm-10
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Карты памяти
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
              .row
                .col-sm-12
                  %b
                    Кинооборудование
              .grey-cell 
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Осветительное оборудование
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Студийное оборудование
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Объективы
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
              .row
                .col-sm-12
                  %b
                    Оптические приборы
              .grey-cell   
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Микроскопы
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group.record2selected
                  .col-sm-2
                    %input{:type => "checkbox", :checked => "checked"} Оптические прицелы, ПНВ
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Подзорные трубы, бинокли
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Телескопы
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Подводные боксы
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Фотоаппараты
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Цифровые фотоаппараты
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Цифровые фоторамки
                  .col-sm-10 
                    
                    %textarea.form-control{:rows => "3"}
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %textarea.form-control{:rows => "3"}
              
              .row
                .col-sm-offset-3.col-sm-9.text-right
                  %button.btn.btn-default{:type => "submit"} Сохранить
                  %button.btn.btn-default{:type => "submit"} Отложить

        
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
